<div *ngIf="cars && cars.length">
  <table class="table">

    <tr>
      <th>Brand</th>
      <th>Country</th>
      <th>Registration Date</th>
    </tr>
    <tr *ngFor="let car of cars">
      <td>
        <a routerLink="{{car.id}}">{{car.Brand}}</a>
      </td>
      <td>{{car.Country}}</td>
      <td>{{car.Registration | date}}</td>
    </tr>

  </table>

  <div class="form-group">
    <label for="fbrand">Filter by brand</label>
    <input type="text" id="fbrand" class="form-control" #fbrand (keyup)="filterByBrand(fbrand.value)" />
  </div>

  <input [matDatepicker]="myDatepicker" (dateChange)="onSelected($event)">
  <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
  <mat-datepicker #myDatepicker></mat-datepicker>
</div>