<button class="btn btn-secondary float-right my-1" routerLink="/new">Create Car</button>
<div *ngIf="cars && cars.length">
  <table class="table">

    <tr>
      <th>Brand</th>
      <th>Country</th>
      <th>Registration Date</th>
    </tr>
    <tr *ngFor="let car of cars">
      <td>
        <a routerLink="{{car.id}}">{{car.Brand}}</a>
      </td>
      <td>{{car.Country}}</td>
      <td>{{car.Registration | date}}</td>
    </tr>

  </table>

  <div class="form-group">
    <label for="fbrand">Filter by brand</label>
    <input type="text" id="fbrand" class="form-control col-4" #fbrand (keyup)="filterByBrand(fbrand.value)" />
  </div>

  <p>Filter by registration date</p>
  <div class="row ml-0">
    <input [matDatepicker]="myDatepicker" (dateChange)="onSelected($event)" class="form-control col-4">
    <mat-datepicker-toggle class="col-1" [for]="myDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker></mat-datepicker>
  </div>
</div>